
*{
    box-sizing: border-box;
}

.navbar{
    width:100%;
    height:60px;
    border-bottom: 1px solid #861f41;
    box-shadow: -5px 0 10px -5px #333;
}
.col-1{
    flex: 0 0 auto;
    width: 8.33333333%;
    padding-left: 40px;
    /* justify-content: center; */
    /* align-items: center; */
    /* padding-top: 4px; */
    font-size: 28px;
}